/.temp
/.svn
/.bkp
/build/*
!/build/.gitkeep
config.local.php
*.phar
/compile*.log
/*.bat
/Makefile
/ext/

# Build
/ext/**/*.lo
/ext/**/*.so
/ext/**/*.a
/ext/**/*.la
/ext/**/*.gch
/ext/**/.libs
/ext/Makefile*
/ext/.deps
/ext/acinclude.m4
/ext/aclocal.m4
/ext/autom4te.cache/
/ext/build/
/ext/config.guess
/ext/config.h
/ext/config.h.in
/ext/config.log
/ext/config.nice
/ext/config.status
/ext/config.sub
/ext/configure
/ext/configure.in
/ext/install-sh
/ext/libtool
/ext/ltmain.sh
/ext/missing
/ext/mkinstalldirs
/ext/run-tests.php
